<?xml version="1.0"?>
<config xmlns:xsi="http://www.w3.org/2001/XMLSchema-instance" xsi:noNamespaceSchemaLocation="urn:magento:module:Magento_Backend:etc/menu.xsd">
    <menu>
        <add id="AsquareTec_OrderScanner::menu"
             title="Scan Orders"
             module="AsquareTec_OrderScanner"
             sortOrder="20"
             parent="Magento_Sales::sales_order" 
             resource="Magento_Backend::sales" 
             action="orderscanner/custom/index"
                     />
    </menu>
</config>
